@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

body, html{
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: #222;
}

.navbar{
 background: #9242bd;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #9242bd;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.navbar-brand:hover{
  color: #cfcfcf
